*{
    margin: 0;
    padding: 0;
    font-family: 'Time New Roman';
}
body{
    background-color: #A9D7E9;
}
h1{
    text-align: center;
    margin: 20px;
}
.form{
    background: #F3F3F3;
    border-radius: 10px;
    margin: auto 28%;
    padding: 15px;
}
.container, .labelrow{
    display: flex;
}
.container{
    margin-top: 20px;
}
.labelrow{
    display: inline;
    width: 48%;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}
.row{
    margin-right: 0px;
}
input{
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    padding: 7px;
}
select {
    padding: 5px;
    width: auto;
    border: none;
}
textarea{
    border: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.button button{
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background: #6BA2CE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button{
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;
    padding: 5px;
}